@import 'fonts.scss';

@import 'variables.scss';

@import 'mixin.scss';

@import 'responsive.scss';

body {
    @include centralizar();
}

.container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: $container-shadow;
    height: 200px;
    width: 550px;
    .bloco {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.895);
        border-radius: 10px;
        box-shadow: $bloco-shadow;
        color: $cor3;
        display: flex;
        flex-direction: column;
        height: 170px;
        justify-content: center;
        letter-spacing: 2px;
        width: 150px;
        span {
            font-size: 3em;
            font-weight: bolder;
        }
        .tempo {
            font-size: 1.2em;
        }

    }
}