$font: 'Poppins', sans-serif;
$font2: 'Opens Sans', sans-serif;
$cor1: #4fdfff;
$cor2: #07181b;
$cor3: #ffffff;
$container-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
$bloco-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);