@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: var(--font2);
}

:root {
    --font:'Poppins', sans-serif;
    --font2: 'Opens Sans', sans-serif;
    --cor1: #4fdfff ;
    --cor2: #133e47;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, var(--cor1), var(--cor2));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.bloco {
    height: 170px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.895);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    letter-spacing: 2px;
}

span {
    font-weight: bolder;
    font-size: 3em;
}

.tempo {
    font-size: 1.2em;
}